.depoimentos {
    margin-bottom: 6.25rem;
    display: flex;
    justify-content: center;
}

.depoimento__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 1rem;
    padding-top: 4rem;
    width: 82%;
    text-align: center;
}

.depoimento__chamada {
    color: var(--color-destaque);
    font-weight: 600;
    font-size: .9rem;
    padding-bottom: 1rem;
}

.depoimento__frase {
    color: var(--color-titulo);
    font-weight: 500;
    font-size: 2.25rem;
    padding-bottom: 2.25rem;
}

.depoimento__avatar {
    padding-bottom: 1rem;
}

.depoimento__nome {
    color: var(--color-titulo);
    font-weight: 500;
    padding-bottom: .25rem;
}

.depoimento__cargo {
    font-size: .9rem;
    padding-bottom: 4rem;
}
